In [10]:
from sklearn.datasets import load_iris
from sklearn.preprocessing import LabelEncoder
import pandas as pd
import numpy as np

### 데이터 준비

- sklearn에 내장된 데이터인 iris 데이터를 이용

In [11]:
iris = load_iris()

iris_df = pd.DataFrame(iris.data, columns=iris.feature_names)
iris_df['species'] = iris.target_names[iris.target]

## 1.사이킷런의 LabelEncoder 이용

In [12]:
encoder= LabelEncoder()
label_encoded1 = encoder.fit_transform(iris_df['species'])
print(label_encoded1)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2]

In [13]:
# 기존 데이터프레임에 결과 합치기
iris_df['label_encoded1']=label_encoded1
display(iris_df)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species,label_encoded1
0,5.1,3.5,1.4,0.2,setosa,0
1,4.9,3.0,1.4,0.2,setosa,0
2,4.7,3.2,1.3,0.2,setosa,0
3,4.6,3.1,1.5,0.2,setosa,0
4,5.0,3.6,1.4,0.2,setosa,0
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,2
146,6.3,2.5,5.0,1.9,virginica,2
147,6.5,3.0,5.2,2.0,virginica,2
148,6.2,3.4,5.4,2.3,virginica,2
149,5.9,3.0,5.1,1.8,virginica,2

In [14]:
#인코딩 클래스
print('인코딩 클래스:',encoder.classes_)

#디코딩 원본값
print('디코딩 원본 값:',encoder.inverse_transform([0,1,2,1,2,0]))

인코딩 클래스: ['setosa' 'versicolor' 'virginica']
디코딩 원본 값: ['setosa' 'versicolor' 'virginica' 'versicolor' 'virginica' 'setosa']

## 2. Pandas의 factorize 이용

In [15]:
label_encoded2, unique = pd.factorize(iris_df['species'])
print(label_encoded2)
print(unique)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2]
Index(['setosa', 'versicolor', 'virginica'], dtype='object')

In [16]:
# 기존 데이터프레임에 결과 합치기
iris_df['label_encoded2']=label_encoded2
display(iris_df)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species,label_encoded1,label_encoded2
0,5.1,3.5,1.4,0.2,setosa,0,0
1,4.9,3.0,1.4,0.2,setosa,0,0
2,4.7,3.2,1.3,0.2,setosa,0,0
3,4.6,3.1,1.5,0.2,setosa,0,0
4,5.0,3.6,1.4,0.2,setosa,0,0
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,2,2
146,6.3,2.5,5.0,1.9,virginica,2,2
147,6.5,3.0,5.2,2.0,virginica,2,2
148,6.2,3.4,5.4,2.3,virginica,2,2
149,5.9,3.0,5.1,1.8,virginica,2,2